@import url('https://fonts.googleapis.com/css?family=EB+Garamond:100,300,400');

* {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'EB Garamond', sans-serif;
}

.body {
    font-weight: 300;
    height: 100%;
    overflow: hidden;
} 

a:link, a:visited {
    color: black;
    text-decoration: none;
}

/* ******* NAVBAR *********************************** */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 30px;
    max-width: 95%;
    margin: 0 auto;
    margin-top: 2vh;
}

@media (max-width: 600px) {
    .header {
        font-size: 24px;
    }
}

.header-link:hover {
    cursor: pointer;
}

.header-link:hover span {
    display: inline;
}

.header-link-decoration {
    display: none;
}

.home-container {
    display: flex;
    justify-content: center;
    min-height: 90vh;
}

/* ******* HOME ************************************** */

.imgs-container {
    text-align: center;
    width: 100%;
    max-width: 1200px;
    cursor: pointer;
    margin-top: 8vh;
}

.img-all {
    display: inline-block;
}

.img-1a {
    width: 80%;
    height: 80vh;
}

.img-2a {
    width: 80%;
    height: 70vh;
}

.img-3a {
    width: 40%;
    height: 70vh;
}

.img-3b {
    width: 30%;
    height: 40vh;
    margin-left: 10vw;
}

.img-4a, .img-4b, .img-4c, .img-4d {
    width: 40%;
    height: 38vh;
}

.img-4a, .img-4c {
    margin-right: 4%;
}

.img-4a, .img-4b {
    margin-bottom: 3%;
}

.img-5a {
    margin-top: 10vh;
    width: 60%;
    height: 60vh;
    transform: translateX(-20%);
}

@media (max-width: 620px) {
    .img-5a {
        width: 60%;
    }
}

.img-6a {
    margin-top: 10vh;
    width: 50%;
    max-height: 60vh;
    float: right;
    margin-right: 20%;
    margin-top: 10%;
}

@media (max-width: 620px) {
    .img-6a {
        width: 65%;
    }
}

.img-7a {
    display: block;
    margin: 0 auto;
    margin-bottom: 5vh;
    width: 45%;
    min-width: 250px;
    height: 35vh;
}

.img-7b {
    width: 45%;
    min-width: 250px;
    height: 35vh;
}

@media (max-width: 620px) {
    .img-7a, .img-7b {
        width: 70%;
    }
}

.img-8a, .img-8b, .img-8c, .img-8d {
    width: 49%;
    height: 40vh;
}

.img-9a {
    width: 40%;
    margin-right: 3%;
    height: 70vh;
}

.img-9b {
    width: 40%;
    transform: translateY(4vh);
    height: 70vh;
}

.img-10a {
    width: 30%;
    margin-right: 4%;
}

.img-10b {
    width: 40%;
    transform: translateY(10vh);
}

.img-10c {
    width: 20%;
    display: block;
    margin: 0 20%;
    transform: translateY(7vh);
}

@media (max-width: 620px) {
    .img-10a, .img-10b, .img-10c {
        display: block;
        margin: 3vh auto;
        transform: translateY(0);
    }

    .img-10a {
        width: 40%;
    }

    .img-10b {
        width: 43%;
    }   
    .img-10c {
        width: 35%;
    }
}

.img-11a {
    width: 40%;
    display: block;
    margin-left: 10%;
    height: 35vh;
}

@media (max-width: 620px) {
    .img-11a {
        width: 65%;
    }
}

.img-11b {
    width: 50%;
    margin-top: 5vh;
    height: 35vh;
}

.img-12a {
    width: 45%;
    margin-right: 5%;
    margin-top: 5%;
    height: 60vh;
}

.img-12b {
    width: 30%;
    transform: translate(3%, -25vh);
}

@media (max-width: 620px) {
    .img-12b {
        width: 40%;
    }
}

.img-13a {
    width: 70%;
    margin-top: 20vh;
}

@media (max-width: 620px) {
    .img-13a {
        width: 90%;
    }
}

.img-14a, .img-14b, .img-14c, .img-14d {
    width: 22%;
    margin-top: 10vh;
    margin-right: 2%;
}

.img-14c {
    transform: translateY(2%);
}

.img-15a {
    width: 40%;
}

@media (max-width: 620px) {
    .img-15a {
        width: 65%;
    }
}

.img-16a {
    width: 48%;
    height: 42vh;
    transform: translateX(-20%);
}

.img-16b {
    width: 20%;
    transform: translate(50%, -10vh);
}

.img-16c {
    width: 40%;
    margin-top: 3vh;
    margin-left: 5%;
    height: 30vh;
}

.img-16d {
    width: 40%;
    margin-top: -3vh;
    margin-left: 5%;
    height: 40vh;
}

.img-17a {
    width: 30%;
}

@media (max-width: 620px) {
    .img-17a {
        width: 65%;
    }
}

.img-17b {
    width: 45%;
    transform: translate(4%, 2vh);
}

.img-18a {
    width: 30%;
}

.img-18b {
    width: 54%;
    transform: translate(5%, 15%);
}

@media (max-width: 620px) {
    .img-18a {
        display: block;
        margin: 0 20%;
        width: 40%;
    }

    .img-18b {
        display: block;
        margin: 0 auto;
        width: 70%;
    }
}

.img-19a {
    margin-top: 10vh;
    width: 60%;
    height: 70vh;
}

img {
    /* object-fit: cover; */
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}


/* ******* CONTACT ************************************ */

.container--contact {
    max-width: 1400px;
    margin: 0 auto;
    /* border: 2px solid black; */
    position: relative;
}

.contact-img {
    width: 50vw;
    max-width: 800px;
    max-height: 60vh;
    object-fit: cover;
    margin-top: 25vh;
    margin-left: 5%;
}

.container--contact-details {
    /* border: 1px solid black; */
    position: absolute;
    top: 5.5vh;
    left: 48%;
    font-size: 30px;
    letter-spacing: 1.1px;
    font-family: 'Roboto', sans-serif;
}

.container--contact-details_email {
    margin: 0;
}

.container--contact-details_insta img {
    /* border: 1px solid black; */
    width: 100px;
}

@media (max-width: 1370px) {
    .container--contact-details_insta img {
        width: 80px;
    }
}

@media (max-width: 1200px) {
    .container--contact-details {
        font-size: 26px;
    }
    .container--contact-details_insta img {
        width: 60px;
    }
}

@media (max-width: 810px) {
    .container--contact-details_insta img {
        width: 50px;
    }
}

@media (max-width: 700px) {
    .container--contact-details {
        font-size: 24px;
    }
}

@media (max-width: 500px) {
    .container--contact-details {
        font-size: 20px;
        left: 30%;
    }
    .container--contact-details_insta img {
        width: 40px;
        margin-top: 7px;
    }
}

@media (max-width: 370px) {
    .container--contact-details {
        font-size: 19px;
        left: 27%;
    }
}

@media (max-width: 325px) {
    .container--contact-details {
        font-size: 16px;
        left: 27%;
    }
    .container--contact-details_insta img {
        width: 30px;
    }
}


